g {
fill: white;
stroke: black;
stroke-width: 0.75;
text-decoration: none;
}
text {
font-style:normal;
font-variant:normal;
font-weight:normal;
font-stretch:normal;
font-size:11px;
line-height:100%;
font-family:Courier New,Verdana,Sans-serif;
text-align:start;
letter-spacing:0px;
word-spacing:0px;
writing-mode:lr-tb;
text-anchor:start;
fill:#000000;
fill-opacity:1;
stroke:none;
stroke-width:1px;
stroke-linecap:butt;
stroke-linejoin:miter;
stroke-opacity:1
}