p {
  text-indent: -25px;
  padding: 0px 2px 0px 25px;  
}
b.sD{
  position: relative;font-size:10px;top:4px;
  color:brown;
}
#Fr0A1 {/* */
  top: 0.3%;
  height: 24%;
  left: 0.2%;
  width: 19.35%;
  z-index: 500;
  visibility: visible;
}
#Fr0A2 {/* */
  top: 25%;
  height: 70.85%;
  left: 0.2%;
  width: 19.35%;
  z-index: 500;
  visibility: visible;
}
#Fr0B1 {/* */
  top: 0.3%;
  height: 24%;
  left: 20%;
  width: 19.55%;
  z-index: 500;
  visibility: visible;
}
#Fr0B2 {/* */
  top: 25%;
  height: 70.85%;
  left: 20%;
  width: 19.55%;
  z-index: 500;
  visibility: visible;
}
#Fr0C1 {/* */
  top: 0.3%;
  height: 29.2%;
  left: 40%;
  width: 19.55%;
  z-index: 500;
  visibility: visible;
}
#Fr0C2 {/* */
  top: 30.3%;
  height: 65.6%;
  left: 40%;
  width: 19.5%;
  z-index: 500;
  visibility: visible;
}
#Fr0D {/* */
  top: 0.3%;
  height: 96.5%;
  left: 60%;
  width: 39.6%;
  z-index: 499;
  visibility: visible;
  border: 0px solid #CCCCCC;
}
#Fr0D1 {/* */
  top: 0%;
  height: 44.2%;
  left: 0%;
  width: 98.1%;
  z-index: 500;
  visibility: visible;
}
#Fr0D2 {/* */
  top: 45%;
  height: 14.5%;
  left: 0%;
  width: 98.1%;
  z-index: 500;
  visibility: visible;
}
#Fr0D3 {/* */
  top: 60%;
  height: 39%;
  left: 0%;
  width: 98.1%;
  z-index: 500;
  visibility: visible;
}
