#FrY {height: 99%;}
#FrD, #ReferBox {/*оглавление опуса*/
  top: 0.3%;
  height: 48.8%;
  left: 0.2%;
  width: 44.2%;
  z-index: 500;
  visibility: visible;
}
#WiderD{
  top: 0.5%;
  left: 42%;
  position: fixed;
}
#FrE {/*опус*/
  top: 0.3%;
  height: 78.7%;
  left: 45%;
  width: 54.0%;
  z-index: 500;
  visibility: visible;
  font-family: "Times New Roman";
  font-size: 16px;
  padding-bottom: -50px;
}
#WiderE{
  top: 0.5%;
  left: 96.6%;
  position: fixed;
}
#LineF {
  top: 20%;
  height: 3%;
  left: 99%;
  width: 1%;
}
#FrF {/*комментарии*/
  top: 0.3%;
  height: 48.9%;
  left: 60%;
  width: 39%;
  z-index: 500;
}
#LineJ {
  top: 80%;
  height: 3%;
  left: 0px;
  width: 2px;
}
#FrK, #FrJ, #ReRefBox {/*обзор*/
  top: 50%;
  height: 45.9%;
  left: 0.2%;
  width: 44.2%;
  z-index: 500;
  visibility: visible;
}
#WiderK{
  top: 50.3%;
  left: 42%;
  position: fixed;
}
#SearBox {
  top: 50%;
  height: 45.9%;
  left: 0.2%;
  width: 44.2%;
  z-index: 500;
}
#FrL, #SentBox {/*сноски*/
  top: 80%;
  height: 15.9%;
  left: 45%;
  width: 54.0%;
  z-index: 500;
  visibility: visible;
  font-family: "Times New Roman";
  font-size: 13px;
  font-weight: 200;
}
#WiderL{
  top: 80%;
  left: 96.6%;
  position: fixed;
}
#LineM {
  top: 70%;
  height: 3%;
  left: 99%;
  width: 1%;
}
#FrM {/*рассуждения*/
  top: 50%;
  height: 45.9%;
  left: 70%;
  width: 29.1%;
  z-index: 500;
}
#WiderM{
  top: 50.3%;
  left: 97.5%;
  position: fixed;
}
#LineR {/*выдвигатель справки*/
  top: 0px;
  height: 4px;
  left: 33%;
  width: 2%;
}
#FrR {/*оглавление справки*/
  top: 0.3%;
  height: 48.8%;
  left: 0.2%;
  width: 44.2%;
  z-index: 500;
  background-color: #FCFFFC;
  border: 2px solid #888888;
}
#ColapseHdr_r{
  top: 0.3%;
  left: 0.2%;
}
#FrS {/*справка*/
  top: 0.3%;
  height: 48.8%;
  left: 45%;
  width: 54.0%;
  z-index: 500;
  background-color: #FCFFFC;
  border: 2px solid #888888;
}
#LineW {/*выдвигатель анонса*/
  top: 0px;
  height: 4px;
  left: 40%;
  width: 2%;
}
#FrV {/*оглавление анонса опуса*/
  top: 20%;
  height: 60%;
  left: 18%;
  width: 19.5%;
  z-index: 2000;
  border: 2px solid #888888;
}
#ColapseHdr_V{
  top: 20.3%;
  left: 18.2%;
  position: fixed;
}
#FrW {/*анонс опуса*/
  top: 20%;
  height: 60%;
  left: 38%;
  width: 43%;
  z-index: 2000;
  border: 2px solid #888888;
}
#CloserW{
  top: 20.3%;
  left: 79%;
  position: fixed;
}
#ReferBox, #ReRefBox {
  visibility: hidden;
  z-index: 601;
  background-color: #F8FFFF;
  border: 2px solid #888888;
}
#SearBox, #SentBox {
  visibility: hidden;
  z-index: 600;
  background-color: #FFFFF8;
  border: 2px solid #888888;
}
div.Right
{
  text-align: right;
  position: absolute;
  top: 1px;
  height: 19px;
  left: 20%;
  width: 79%;
}
