#FrD, #ReferBox  {/*собрание коллекций*/
  top: 0.3%;
  height: 95.6%;
  left: 0.2%;
  width: 29.3%;
  z-index: 500;
  visibility: visible;
}
#ReferBox{height: 48.8%;}
#WiderD{
  top: 0.5%;
  left: 27.5%;
  position: fixed;
}
#FrE {/*коллекции*/
  top: 0.3%;
  height: 95.6%;
  left: 30%;
  width: 29.5%;
  z-index: 500;
  visibility: visible;
}
#WiderE{
  top: 0.5%;
  left: 57.5%;
  position: fixed;
}
#LineF {/*выдвигатель*/
  top: 7%;
  height: 2%;
  left: 0%;
  width: 2%;
  visibility: hidden;/*пока не задействовано*/
}
#FrF {/*опусы данной коллекции*/
  top: 0.3%;
  height: 95.6%;
  left: 60%;
  width: 39.0%;
  z-index: 500;
  visibility: visible;
  padding-bottom: -50px;
}
#WiderF{
  top: 0.5%;
  left: 96.7%;
  position: fixed;
  visibility: hidden;/*пока не задействовано*/
}
#FrK, #FrJ, #ReRefBox {/*фильтры коллекций*/
  top: 80%;
  height: 15.9%;
  left: 0.2%;
  width: 29.3%;
  visibility: visible;
  z-index: 499;
}
#ReRefBox{top: 50%;height: 45.9%;}
#WiderK{
  top: 80%;
  left: 27.5%;
  position: fixed;
}
#SearBox {
  top: 80%;
  height: 15.9%;
  left: 0.2%;
  width: 29.3%;
  z-index: 500;
}
#FrL, #SentBox {/*фильтры коллекции*/
  top: 80%;
  height: 15.9%;
  left: 30%;
  width: 29.5%;
  z-index: 499;
  visibility: visible;
  font-family: "Times New Roman";
  font-size: 13px;
  font-weight: 200;
}
#WiderL{
  top: 80%;
  left: 57.5%;
  position: fixed;
}
#LineR {/*выдвигатель справки*/
  top: 0px;
  height: 4px;
  left: 33%;
  width: 2%;
}
#FrR {/*оглавление справки*/
  top: 0.3%;
  height: 48.8%;
  left: 0.2%;
  width: 44.2%;
  z-index: 500;
  background-color: #FCFFFC;
  border: 2px solid #888888;
}
#ColapseHdr_r{
  top: 0.3%;
  left: 0.2%;
}
#FrS {/*справка*/
  top: 0.3%;
  height: 48.8%;
  left: 45%;
  width: 54.0%;
  z-index: 500;
  background-color: #FCFFFC;
  border: 2px solid #888888;
}
#ReferBox {
  top: 0.3%;
  height: 48.8%;
  visibility: hidden;
  z-index: 601;
  background-color: #F8FFFF;
  border: 2px solid #888888;
}
#ReRefBox {
  top: 50%;
  height: 45.9%;
  visibility: hidden;
  z-index: 601;
  background-color: #F8FFFF;
  border: 2px solid #888888;
}
#SearBox, #SentBox {
  visibility: hidden;
  z-index: 600;
  background-color: #FFFFF8;
  border: 2px solid #888888;
}
#LineW {/*выдвигатель анонса*/
  top: 0px;
  height: 4px;
  left: 40%;
  width: 2%;
}
#FrV {/*оглавление анонса опуса*/
  top: 20%;
  height: 60%;
  left: 18%;
  width: 19.5%;
  z-index: 2000;
  border: 2px solid #888888;
}
#ColapseHdr_V{
  top: 20.3%;
  left: 18.2%;
  position: fixed;
}
#FrW {/*анонс опуса*/
  top: 20%;
  height: 60%;
  left: 38%;
  width: 43%;
  z-index: 2000;
  border: 2px solid #888888;
}
#CloserW{
  top: 20.3%;
  left: 79%;
  position: fixed;
}
div#FrE a.O0 {position:relative; left:-9px;}
div#FrE h1{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE h2{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE h3{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE h4{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE h5{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE h6{font-size:11px;font-weight:500;padding:2px 2px 2px 53px;text-indent: -18px;}
div#FrE a.O1 {position:relative; left:-35px;}
div#FrE a.O2 {position:relative; left:-35px;}
div#FrE a.O3 {position:relative; left:-35px;}
div#FrE a.O4 {position:relative; left:-35px;}
div#FrE a.O5 {position:relative; left:-35px;}
div#FrE a.O6 {position:relative; left:-35px;}
#ListWinSw{
  top: 2px;
  left: 30.2%;
  position: fixed;
}
