#LineD {/*выдвигатель*/
  top: 7%;
  height: 7%;
  left: 0%;
  width: 1%;
}
#FrD {/*Оглавление*/
  top: 0.3%;
  height: 95.5%;
  left: 0.3%;
  width: 33%;
  z-index: 1000;
  visibility: hidden;
  background-color: #FFFFF8;
}
#FrE {/*Опус*/
  top: 0.3%;
  height: 95.5%;
  left: 0.3%;
  width: 98.6%;
  z-index: 500;
  visibility: visible;
  font-family: "Palatino Linotype";
  font-size: 14px;
  line-height: 16px; 
}
p{
  font-family: "Palatino Linotype";
  font-size: 14px;
  line-height: 16px; 
}
#FrE h1{font-size:14px;font-weight:500;}
#FrE h2{font-size:14px;font-weight:500;padding-top:3px;padding-bottom:3px;}
#FrE h3{font-size:14px;font-weight:500;padding-top:3px;padding-bottom:3px;}
#FrE h4{font-size:14px;font-weight:500;padding-top:3px;padding-bottom:3px;}
#FrE h5{font-size:14px;font-weight:500;padding-top:3px;padding-bottom:3px;}
#FrE h6{font-size:14px;font-weight:500;padding-top:3px;padding-bottom:3px;}
#FrE h6.h0{font-size:10px;}
div.Right
{
  text-align: right;
  position: absolute;
  top: 1px;
  height: 19px;
  left: 10%;
  width: 79%;
}
