#FrD {/*оглавление опуса*/
  top: 0.3%;
  height: 33.7%;
  left: 50%;
  width: 49.1%;
  z-index: 500;
  visibility: visible;
}
#FrE {/*опус*/
  top: 35%;
  height: 60.5%;
  left: 50%;
  width: 49.1%;
  z-index: 500;
  visibility: visible;
  font-family: "Times New Roman";
  font-size: 16px;
  padding-bottom: -50px;
}
#FrK {/*обзор*/
  top: 0.3%;
  height: 91.8%;
  left: 0.2%;
  width: 49.3%;
  z-index: 500;
  visibility: visible;
}
#FrQ {/*список обновляемого*/
  top: 93%;
  height: 2.9%;
  left: 0.2%;
  width: 49.3%;
  z-index: 500;
  background-color: #FCFFFC;
  border: 2px solid #888888;
  visibility: visible;
}
